:root {
    --coral-reef-1: #FF4847;
    --coral-reef-2: #FF614D;
    --coral-reef-3: #FD6A54;
    --coral-reef-4: #FC886A;
    --coral-reef-5: #FF9D7A;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;
}

h1 {
    margin-top: 10px;
    font-weight: 900;
}

section {
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-bottom: 5px solid black;
}

.card {
    margin: none;
    margin-top: 2vh;
}

.card-link:hover {
    outline-color: red;
    outline-style: solid;
}

section:last-of-type {
    margin-bottom: 50px;
}

a {
    color: black;
}

iframe {
    overflow: scroll;
    padding-left: 10vw;
    padding-right: 10vw;
}

a:hover {
    color: red;
    text-decoration: none;
}

.made-using {
    font-size: 1rem;
    color: lightgray;
}

.navbar {
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 0;
}

.nav-item,
.nav-link,
.navbar-brand {
    color: white;
    margin: 0;
}

.navbar-brand {
    font-weight: bolder;
    text-align: left;
    padding: 0;
    font-size: 2rem;
    margin-right: 10vw;
}

.nav-item {
    text-align: right;
    padding: 10px;
}

.navbar-toggler-icon {
    color: white;
}

.red-bg {
    background: black;
}

.main-container {
    height: 100%;
    padding: 0;
    overflow: scroll;
}

.main-row {
    height: 85vh;
    overflow: scroll;
}

.side-col {
    height: 100%;
    width: 5vw;
}

.top-row {
    min-height: 10vh;
    pointer-events: all;
}

.bottom-row {
    height: 5vh;
    pointer-events: all;
}
